.header-section-1 {
    position: fixed;
    width: 100%;
    height: 5%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7310a0;

    z-index: 2;
    padding: 3.5vh;
}

.header-image-section-1 {
    width: 25vh;
}

.header-links-section-1 {
    display: flex;
    align-items: center;

    top:1vh;
    list-style: none;
}

.header-links-section-1 a {
    margin: 1vh ;
    padding: 0.3vh 2.5vw;
    font-size: 2.2vh;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    border:2px solid transparent;
    transition: background-color 0.2s, border 0.2s ;
}

.header-links-section-1 a:hover {
    background-color: #921ac9;
    border: solid 2px  #d0cbd1c6;
}


.filtro-section-1 {
    margin-top: 10vh;
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7vh;

}

.filtro-section-1 h3{
    display: flex;
    color: #777777ae;
    text-align: center;
    font-size: 3vh;
    margin-bottom: 4.5vh;
}

#h3-inner{
    color: #9c03e4;
    text-align: center;
    font-size: 3vh;
    margin-bottom: 8.5vh;
    margin-left: 6px;
}

#search-input-section-1 {
    width: 100%;
    height: 7vh;
    border: solid #c892d2 2px;
    border-radius: 12px;

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
    
    text-align: left;
}


.filtro-section-1 h1{
    color: #333333a0;
    font-size: 2.5vh;
    margin-bottom: 2vh;
    text-align: center;
}

.filtro-section-1 input {
  margin: auto;
  padding: 5px;
}

.filtro-section-1 button {

  text-align: center;
  height: 7vh;
  background-color: #AC8FEB;
  color: #fff;
  cursor: pointer;

  border-top-left-radius: 0px ;
  border-bottom-left-radius: 0px ;



  --tg-secondary-color: #aa21ff;
}

.filtro-input-section-1 {
    display: flex;
    align-items: center;
    width: 65%;
    height: fit-content;
}

.result-section-1 {
    background-color: #ffffff;
    height: 51.1vh;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.result-section-1 h1{
    text-align: center;
    font-size: revert;
    color: #AC8FEB;
    padding-bottom: 0.5vh;
    margin-bottom: 10vh;
    align-self: center;
    width: 35%;
}

.response-section-1 {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    width: 100%;
}

/*.result-reponse-section-1 {
    
}*/

.result-reponse-section-1 p {
    position: absolute;
    transform: translateY(1vh);
    transform: translateX(1vh);
    color: #ffffff;
    background-color: #c073ef ;
    padding: 1vh;
}

.result-image-section-1 {
    background-color: #D0CBD1;
    width: 48vh;
    height: 30vh;
    border: solid 3px #c073ef;
    border-radius: 8px;
}